@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: bold;
  background-color: #81C784;
}

h1, p {
  text-align: center;
  font-weight: bold;
}

table.sudoku {
  border: 3px solid  #3498db;
  border-collapse: collapse;
  margin: 20px auto;
  position: absolute;
  backface-visibility: hidden;
}

table.sudoku td {
  height: 2em;
  width: 2em;
  border: 1px solid rgb(54, 53, 53);
  text-align: center;
  outline: none;
}

table.sudoku td:nth-child(3n) {
  border-right: 3px solid  #3498db;
}
table.sudoku tr:nth-child(3n) {
  border-bottom: 3px solid  #3498db;
}

.solve {
  color:  #ffffff;
  border: none;
  font-size: 1em;
  padding: 10px;
  margin: 10px auto;
  background-color: #3498db;
  display: block;
  border: 2px solid #2e76a7;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
  width: 5em;
}
.solve:hover {
  color: rgb(168, 167, 167);
  background-color: #0d4164;
}

.viewport {
  perspective: 1800px;
  height: 420px;
}

.wrapper {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 20em;
  margin: 10px auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.error-message{
  font-weight: bold;
  color: red;
  text-align: center;
}

.resetButton{
  display: block;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  color: white;
}